<div id="open-modal" class="modal-window">
    <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>New Player Form</h1>
        <div>
            <form #playerForm="ngForm" novalidate (ngSubmit)="onSubmit(playerForm)"></form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="player.name" ngModel required/>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName" [(ngModel)]="player.lastName" ngModel required/>
            </div>

            <div class="form-group">
                <label for="position">Position</label>
                <select class="form-control" name="position" [(ngModel)]="player.position" ngModel required>
                    <option *ngForm="let position of squadNumber" [value]="position.key">{{position.label}}</option>
                </select>
            </div>
            
        </div>
    </div>
</div>
